exemple de .env pour le projet :

PORT = 3000
MESSAGE = 'Hello World'
FILE_PATH = '/home/pptruser/data/test.txt'
FILE_PATH_INIT = '/home/pptruser/data/Init.txt'
URL = 'https://www.vinted.fr/catalog?catalog[]=2050&price_to=50&currency=EUR&price_from=10'